body { /* Insertion and formatting of sky background image */
    background-image: url("../images/weather-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.brand-header { /* Visuals and formatting of div section containing logo and title */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 8px;
}

.brand-logo { /* Placement and formatting of triangle logo */
    width: 280px;
    max-width: 60vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
}

.brand-title { /* Formatting and text color/shadow of ForecastFive title text */
    margin: 0;
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    text-align: center;
    color: #0508d1;
    text-shadow: 0px 3px 2px #000000;
}

.search { /* Formatting and text color/font of div section containing searchbar and Enter/Reset buttons */
    font-family: 'Exo', sans-serif;
    text-align: center;
    color:#0508d1;
}

#searchbar { /* Searchbar formatting, visuals, and background gradient */
    text-align: center;
    margin-bottom: 8px;
    width: 80%;
    height: 40px;
    border: 2px solid #365b72;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(114, 168, 185) 0%, rgb(114, 168, 185) 20%, rgb(185, 227, 241) 50%, rgb(114, 168, 185) 80%, rgb(114, 168, 185) 100%);
    box-shadow: none;
}

#searchbar::placeholder { /* Font color of 'Search any City, State, or Country' placeholder text in searchbar */
    color: black;
}

.search button { /* Visuals, formatting, and background gradient of Enter/Reset buttons under the search div */
    text-align: center;
    padding: 10px;
    width: 90px;
    border: 2px solid #365b72;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(114, 168, 185) 0%, rgb(114, 168, 185) 20%, rgb(185, 227, 241) 50%, rgb(114, 168, 185) 80%, rgb(114, 168, 185) 100%);
}

.footer { /* Formatting and text color/font of footer */
    font-family: 'Exo', sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    color: #000000;
}