body {
    background-image: url("../images/weather-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.search {
    font-family: 'league spartan', sans-serif;
    text-align: center;
    color:#ec3843;
}

#searchbar {
    text-align: center;
    margin-bottom: 8px;
    width: 80%;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(114, 168, 185) 0%, rgb(114, 168, 185) 20%, rgb(185, 227, 241) 50%, rgb(114, 168, 185) 80%, rgb(114, 168, 185) 100%);
}

#searchbar::placeholder {
    color: black;
}

.search button {
    text-align: center;
    padding: 10px;
    width: 90px;
    border: 2px solid #000000;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(114, 168, 185) 0%, rgb(114, 168, 185) 20%, rgb(185, 227, 241) 50%, rgb(114, 168, 185) 80%, rgb(114, 168, 185) 100%);
}