body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* change header font and color */
.gradient-background {
    background-image: linear-gradient(to bottom, #87CEEB, #EF6C00);
    height: 590px;
    width: 100%;
}